body {

    display: grid;
    grid-template-rows: 2fr;
    grid-column: 1fr;
    grid-template-areas:
        "nav"
        "lateral"
        "principal"
        "pie";
}

nav {
    background-color: #b0413e;
    grid-area: nav;
    height: 100px;
    display: flex;
    flex-direction: row;
}

nav h1 {
    font-size: 40px;
}



menu {
    display: flex;

    background-color: #fcaa67;
    grid-area: lateral;
    height: 100%;
}

svg {
    position: relative;
    animation-name: logo;
    animation-duration: 5s;
    animation-delay: 2s;
    animation-iteration-count: 2;

}

@keyframes logo {
    from {
        width: 50px;
        height: 50px;
    }

    to {
        width: 100px;
        height: 100px;
    }
}

menu h1 {
    display: flex;
    justify-content: flex-start;
    justify-items: flex-start;
}

.card {
    filter: grayscale(100%);
    transition: all 2s ease-in-out;
}

.card:hover {
    filter: none;

}

.icono {
    display: flex;
    justify-content: flex-end;
    justify-self: flex-end;
    font-size: 3rem;
}

menu ul {
    visibility: hidden;
}


h4 {
    display: flex;
    justify-content: center;
    font-size: 20px;
}

button {
    margin-bottom: 10px;
    height: 30px;

}


main {
    height: 100%;

    grid-area: principal;

}

.card {
    height: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
}


footer {
    background-color: #473335;
    grid-area: pie;
    height: 70px;
    margin-top: 20px;

}

.iconos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    font-size: 2rem;
}


/*VERSION ESCRITORIO*/
@media(min-width: 576px) {
    body {
        display: grid;
        grid-template-columns: 1fr 10fr;
        grid-template-rows: auto;
        grid-template-areas:
            "nav nav"
            "lateral principal"
            "pie pie";
    }

    nav {
        background-color: #b0413e;
        grid-area: nav;
        display: flex;
    }

    nav h1 {
        justify-items: end
    }

    menu {
        background-color: #fcaa67;
        grid-area: lateral;
        height: 200vh;
        width: 150px;
        display: flex;
        flex-direction: column;

    }

    menu ul {
        visibility: visible;
    }

    .icono {
        font-size: 0rem;
    }

    main {
        grid-area: principal;
        height: 200vh;

    }

    .card {
        display: flex;
        flex-direction: column;
        height: 300px;
        width: 300px;
        gap: 20px;
        filter: grayscale(100%);
        transition: all 2s linear;
    }


    .card:hover {
        filter: none;
        width: 320px;
        height: 350px;
    }

    button {
        transition: all 1s ease;
    }

    button:hover {
        background-color: #fcaa67;
    }

    .flex-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 100px;

    }



    .flex-container img {
        height: 200px;
        width: 200px;
        object-fit: contain;
    }

    footer {
        background-color: #473335;
        grid-area: pie;
    }


    .iconos {
        display: flex;
        justify-content: center;
        font-size: 2rem;
    }










}