body {
    background-color: black;
    display: grid;
    grid-template-rows: 2fr;
    grid-column: 1fr;
    grid-template-areas:
        "nav"
        "lateral"
        "principal"
        "pie";
}

nav {
    background-color: #b0413e;
    grid-area: nav;
    height: 50px;
}

svg {
    animation-name: logo;
    position: relative;
    animation-duration: 5s;
    animation-delay: 1s;

}

@keyframes logo {
    from {
        left: 0px;
        top: 0px;
        right: 15px;

    }

    to {
        right: 15px;
        top: 0px;
        left: 0px;

    }

}

menu {
    background-color: #fcaa67;
    grid-area: lateral;

}

main {
    height: 100%;
    background-color: #ffffc7;
    grid-area: principal;

}

.card {
    height: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
}


footer {
    background-color: #473335;
    grid-area: pie;
    margin-top: 20px;
}

@media(min-width: 576px) {
    body {
        display: grid;
        grid-template-columns: 1fr 10fr;
        grid-template-rows: auto;
        grid-template-areas:
            "nav nav"
            "lateral principal"
            "pie pie";
    }

    nav {
        background-color: #b0413e;
        grid-area: nav;
    }

    menu {
        background-color: #fcaa67;
        grid-area: lateral;
        height: 150vh;
    }

    main {
        background-color: #ffffc7;
        grid-area: principal;
        height: 150vh;
    }

    .flex-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 100px;

    }

    .card {
        display: flex;
        flex-direction: column;
        height: 300px;
        width: 200px;
        border: solid 2px black;
        gap: 20px;
    }

    .flex-container img {
        height: 200px;
        width: 200px;
        object-fit: contain;
    }

    footer {
        background-color: #473335;
        grid-area: pie;
    }
}




/* /*.grayscale {filter: grayscale(100%);}imagen en negro*/